.low-stock {
  position: absolute;
  height: 16px;
  display: block;
  transform: rotate(-45deg);
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-family: monospace;
  padding: 5px;
}
.limited-stock {
  width: 92px;
  margin-top: 13px;
  margin-left: -44px;
  background: #be3f3f;
}
.out-of-stock {
  width: 111px;
  margin-top: 20px;
  margin-left: -47px;
  background: #e01818;
}

@media (max-width: 500px) {
  .limited-stock {
    margin-left: -45px;
  }
  .out-of-stock {
    margin-left: -48px;
  }
}