.not-limited {
  display: none;
}
.low-stock {
  position: absolute;
  height: 16px;
  transform: rotate(-45deg);
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-family: monospace;
  padding: 5px;
}
.limited-stock {
  width: 86px;
  margin-top: -76px;
  margin-left: -44px;
  background: #be3f3f;
}
.out-of-stock {
  width: 105px;
  margin-top: -69px;
  margin-left: -47px;
  background: #e01818;
}

@media (max-width: 500px) {
  .limited-stock {
    margin-left: -29px;
  }
  .out-of-stock {
    margin-left: -32px;
  }
}